/* Enter your custom styles here */

/* VendordMain CSS - Start */

.flexbox-tiles-container{
    background-color: bisque;
    width: 75%;
    margin: auto;
    padding: 0.5em;
}

/* VendordMain CSS - End */